<html>
<head></head>
	<body>
			<form action = '/table' method = 'GET'>
				<p>
				Truth Symbol: &nbsp;
				<input type = 'text' name = 'true_val' 			/>
				<p>

				<p>
				False Symbol: &nbsp;
				<input type = 'text' name = 'false_val' 		/>
				<p>

				<p>
				Size (2^x): &nbsp;
				<input type = 'text' name = 'size' 			/>
				<p>

				<input type = 'submit' value = 'Show Truth Table' />
			</form>
	</body>
</html>
